src/main/resources/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="customerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="customerID"/>
        <xs:element type="xs:string" name="customerName"/>
        <xs:element type="xs:string" name="address"/>
        <xs:element type="xs:integer" name="orderNo"/>
        <xs:element type="xs:double" name="orderAmount"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>