src/main/resources/order.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:integer" name="orderId"/>
        <xs:element type="xs:double" name="orderAmount"/>
        <xs:element type="xs:string" name="currency"/>
        <xs:element type="xs:string" name="customerId"/>
        <xs:element type="xs:integer" name="totalItems"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
